<div class="wrapper">
  <form class="search-form" id="search-form">
    <input type="text" name="query" autocomplete="off" placeholder="Search images..." />
    <button type="submit" class="js-button">Search</button>
  </form>
  <ul class="gallery"></ul>
  <button type="submit" data-value="load-more">
    <span class="spinner-border spinner-border-sm spinner is-hidden" role="status" aria-hidden="true"></span>
    <span class="label">Load more</span>
  </button>
</div>
<div class="arrow-top arrow-hidden"></div>